# Supabase Configuration
VITE_SUPABASE_URL=https://bhlfulgvcdutffxkqldw.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJobGZ1bGd2Y2R1dGZmeGtxbGR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NDY5NDMsImV4cCI6MjA4OTIyMjk0M30.1MobOR2YjkVdHFgU5d0hmLo9pGdYz4A2HGwheP6GFNg
